/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2023, 5:21:40 PM
    Author     : mgaliman
*/

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card {
    border-radius: .5rem;
}

.container{
    display: none;
    visibility: hidden;
}

.slideDown{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;	

    animation-duration: 1s;	
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;	

    visibility: visible !important;						
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }			
    100% {
        transform: translateY(0%);
    }		
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }			
    100% {
        -webkit-transform: translateY(0%);
    }	
}