/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2023, 2:58:05 PM
    Author     : mgaliman
*/

body {
    background-color: purple; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, purple , blue);
}